* {
	font-family: 'Montserrat', sans-serif;
}

.title{
	margin: 40px;
	padding: 10px;
	text-align: center;
}

hr {
	background-color: #49a6e9;
	border: none;
	border-radius: 15px;
	width: 25%;
	height: 5px;
	
}

article {
	text-align: center;
}

img {
	border-radius: 50%;
	height: auto;

}


.chevron {
    border: none;
    background-color: white;
    color: #49a6e9;
    cursor: pointer;
    padding: 1px;
    margin-right: 50px;
}


.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
    border-radius: 20%;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}