* {
	font-family: 'Montserrat', sans-serif;
	background-color: #f1f5f8;
}

.title{
	color: #102a42;
	margin-bottom: 0px;
	padding-bottom: 10px;
	text-align: center;
}

hr {
	background-color: #49a6e9;
	border: none;
	border-radius: 15px;
	width: 120px;
	height: 5px;
}

article {
	height: 440px;
	width: 700px;
	margin: auto;
	text-align: center;
	justify-content: center;
	box-shadow: 0 4px 8px #102a42;
}

.text {
	margin: auto;
}

#info {
	padding-left: 40px;
	padding-right: 40px;
}

.img-container {
	padding-top: 10px;
}

.dot-img {
	width: 60px;
	height: 60px;
	margin-bottom: 100px;
	margin-left: 60px;
}

img {
	border-radius: 50%;
	height: 160px;
	width: 160px;
	z-index: 2;
	position: relative;
}

.dot {
	z-index: 1;
	position: relative;
	height: 160px;
	width: 160px;
	background-color: #49a6e9;
	margin-left: -160px;
	margin-bottom: 4px;
	border-radius: 50%;
	display: inline-block;
  }

.btn-container {
	padding-bottom: 5px;
}

.random-btn {
	border-radius: 5px;
	box-shadow: 0 4px 8px #102a42;
	transition-duration: 0.5s;
	cursor: pointer;
}

.random-btn:hover {
	background-color: #49a6e9;
	color: #102a42;
}

.chevron {
    border: none;
    background-color: white;
    color: #49a6e9;
    cursor: pointer;
    padding: 3px;
    margin-right: 5px;
	margin-left: 5px;
}


.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
    border-radius: 20%;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}